numpy>=1.15.0
pandas>=0.24.0
scikit-learn>=0.22.1
scipy>=1.1.0
matplotlib>=3.0.0
xgboost>=0.81
imbalanced-learn>=0.4.0
mlens>=0.2.3
scikit-optimize
sphinx_rtd_theme
sphinx
sphinx-hoverxref
sphinx-notfound-page
sphinx_rtd_theme
sphinx-markdown-tables
